main{
	margin-top:80px;
}
main h2{
	background-color:#EC971F;
	color: white;
	border-radius:6px;
	margin-bottom:  30px
}
.fixCol{
	border:1px solid black;
}
main input{
	border-radius: 1px;
}

.btn-fix{
	margin: 20px auto;
	width: 80%;
	text-align: center;
	display: block;
}
.fix-link{
	background-color: #D9534F;
	padding: 20px;
	color: white;
	margin-left:-15px;
	width:140px;
}
.fix-link:hover{
	color: white;
	background-color: black;

}

input[type="text"], input[type="date"], select{
	width: 200px ;
}

/*  Styles para la  paginación  */

.paginacion ul {
	list-style: none;
}

.paginacion ul li {
	display: inline-block;
	margin-right: 10px; 
}

.paginacion ul .active a {
	background: #ce7f08;
}

.paginacion ul .disabled {
	background: #c8c8c8;
	display: inline-block;
	font-family: "Oswald", Arial, helvetica, sans-serif;
	padding: 15px 25px;
	cursor:not-allowed;
	color:#fff;
	text-decoration: none;
}

.paginacion ul li a {
	display: inline-block;
	font-family: "Oswald", Arial, helvetica, sans-serif;
	padding: 15px 25px;
	background: #424242;
	color:#fff;
	text-decoration: none;
}

.paginacion ul li a:hover {
	text-decoration: none;
	background: #3299bb;
}

